@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  font-family: "Inconsolata", monospace;
}
::selection {
  background-color: #6a6e79;
  color: #c5c1c1;
}
.world {
  color: #00ff08;
  text-shadow: 0px 0px 8px #4bec16;
}
body {
  margin: 0;
  padding: 0;
  background-color: #3e4145;
  color: #ffffff;
}

.navbar {
  background-color: #282a2f;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  padding: 20px;
}

.hero {
  height: 300px;
  padding-top: 3rem;
}

.container-hero {
  margin: 80px;
  text-align: center;
}

.btn-dark {
  padding: 10px;
  margin: 10px;
  width: 120px;
  height: 38px;
  background-color: #0e0e0e;
  color: #ffffff;
  border: none;
  text-decoration: underline;
  outline-color: #ffffff;
  box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);
}

.btn-dark:hover,
.btn-dark:active {
  transition: background-color ease-in 1s;
  background-color: #282a2f;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
}

.row .col {
  text-align: center;
  background-color: #ffffff;
  color: #242831;
}

@media only screen and (max-width: 600px) {
  .row {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}

footer {
  margin-top: 4rem;
  background-color: #282a2f;
}

.row-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  height: 100px;
  padding-top: 25px;
}

.copyright {
  background-color: #0e0e0e;
  padding: 1px;
}

.copyright p {
  padding: 5px;
  width: 70%;
  margin: auto;
}
